body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(25% - 2em);
    height: calc(25% - 2em);
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1em;
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
}